/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200;300;400;500;600;700&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #3a3a3a;
    font-family: 'Lato', sans-serif;
}

h1,
h2,
h3 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: white;
}


/* Header */
header {
    background-color: #070303;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #fbfafa;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
}

#menu>li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid #fdf8f8;
}

/* Nav*/
nav {
    position: absolute;
    background-color: black;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
    color: white;
}

/* Main content */
main {
    flex: 1 0 auto;
    margin-top: 47px;
    display: flex;
    flex-direction: column;
}
/*Index oage*/
#hero {
    height: 600px;
    width: 100%;
    background: url("../images/anime2.png") no-repeat center center/cover;
    position: relative;
}

#intro-text {
    background-color: rgba(60, 60, 60, 0.7);
    border-radius: 12px;
    font-size: 130%;
    position: absolute;
    bottom: 30px;
    width: 80%;
    min-height: 200px;
    padding-top: 40px;
    padding-left: 10px;
}


/* Form */
#signup {
    background-image: url("../images/signup.webp");
    background-size: cover;
    background-position: 75%;
    padding: 20px 10% 0 10%;
    flex-grow: 1;
}


#signup-form {
    color: #ffffff;
    background-color: rgba(60, 60, 60, 0.7);
    padding: 30px;
    border-radius: 12px;
}


#signup-form>h2 {
    color: #fafafa;
    margin-bottom: 20px;
}


.text-input {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
    padding: 0 5px;
}

.join-button {
    margin-top: 20px;
    border-radius: 12px;
    padding: 15px 32px;
    font-size: 100%;
    background-color: #bb1818;
    color: #fafafa;
}

/*Thank You */
#submit {
    background-image: url("../images/signup.webp");
    background-size: cover;
    background-position: 75%;
    padding: 20px 10% 0 10%;
    flex-grow: 1;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    max-width: 800px;
    color: #ffffff;
    background-color: rgba(60, 60, 60, 0.8);
    margin: auto;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 12px;
}

.thanks {
    text-align: center;
    padding-left 5px;
    padding-right: 5px;
}

/* Footer */
#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: #3a3a3a;
}

/* Media query: large or landscape phones (576px and up) */
@media screen and (min-width: 576px) {}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {

    /* Header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
        color: white;
    }

    #menu>li {
        padding-left: 1rem;

    }

    .nav-toggle-label {
        display: none;
    }


    #logo {
        font-size: 280%;
        line-height: 75px;
        margin: 0 0.5rem;
        color: white;
    }

    /* Main content */
    main {
        margin-top: 79px;
    }

    #intro-text {
        width: 300px;
        right: 50px;
    }


    /* Form */
    #signup {
        background-position: center;
        position: relative;
    }

    #signup-form {
        max-width: 400px;
        position: absolute;
        left: 10%;
        top: 150px;
    }

    .text-input:hover {
        border-color: #f16c6b;
    }

    .join-button:hover {
        background-color: #fafafa;
        color: #454b1b;
    }

    .container {
        max-width: 1000px;
        padding-top: 20px;
        padding-bottom: 20px: padding-left: 20px;
        padding-right: 20px;
        color: #ffffff;
        background-color: rgba(60, 60, 60, 0.8);
        margin: auto;
        height: 60vh;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        flex-direction: column;
        justify-content: space-evenly;
        border-radius: 12px;

        .video {}
    }

    /* Large devices (laptops and desktops, 992px and up) */
    @media screen and (min-width: 992px) {
        #menu a:hover {
            border-bottom: 1px solid #3a3a3a;
        }


    }

    @media screen and (min-width: 1200px) {

        /
    }