/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200;300;400;500;600;700&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #3a3a3a;
    font-family: 'Lato', sans-serif;
}

.line-break {
    margin-bottom: 14px;
}

.d-flex {
    display: flex;
}

.border {
    background-color: rgba(85, 15, 238, 0.2);
    border-radius: 12px;
    padding: 5px 5px 5px 5px;
    margin-bottom: 14px;
}
<<<<<<< HEAD
img {
    border-radius: 35px;
    box-shadow: 12px 12px rgb(123, 119, 119);
}
=======
>>>>>>> origin

h1,
h2,
h3 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: white;
}


/* Header */
header {
    background-color: #070303;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #fbfafa;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: white;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
}

#menu>li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid #fdf8f8;
}

/* Nav*/
nav {
    position: absolute;
    background-color: black;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    color: white;
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
    color: white;
}

/* Main content */
main {
    flex: 1 0 auto;
    margin-top: 47px;
    display: flex;
    flex-direction: column;
}

/*Index oage*/
#hero {
    height: 600px;
    width: 100%;
    background: url("../images/hero-img-s.png") no-repeat center center/cover;
    position: relative;
}

#intro-text {
    background-color: rgba(60, 60, 60, 0.7);
    border-radius: 12px;
    font-size: 130%;
    text-align: center;
    position: absolute;
    bottom: 30px;
    width: 80%;
    min-height: 200px;
    padding-top: 40px;
    padding-left: 10px;
}

#about-me {
    width: 90%;
    margin: 20px auto;
    text-align: center;
    background-color: rgba(85, 15, 238, 0.2);
    border-radius: 12px;

}

#about-me>h2 {
    font-family: 'Oswald', sans-serif;
    color: black;
    letter-spacing: 2px;
}

.info {
    font-weight: bold;
}

#letter {
    font-family: 'Oswald', sans-serif;
    color: black;
    letter-spacing: 2px;
}

.binging {
    font-family: 'Oswald', sans-serif;
    color: black;
    letter-spacing: 2px;
    text-align: center;
}

<<<<<<< HEAD
.current {}
=======
>>>>>>> origin

.current-watch {
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.title {
    font-size: 20px;
    padding-top: 14px;
}

<<<<<<< HEAD
.jjk-blurb {
=======
.blurb {
>>>>>>> origin
    text-align: center;
    font-weight: 700;
}

.wrap-collabsible {
    margin-bottom: 1.2rem 0;
}

input[type='checkbox'] {
    display: none;
}

.lbl-toggle {
    display: block;

    font-weight: bold;
    font-family: monospace;
    font-size: 1.2rem;
    text-transform: uppercase;
    text-align: center;

    padding: 1rem;

    color: #f8f8ef;
    background: #bb1818;

    cursor: pointer;

    border-radius: 7px;
    transition: all 0.25s ease-out;

    width: 250px;
    margin: 0 auto;
}

.lbl-toggle:hover {
    color: #fefdf9;
}

.lbl-toggle::before {
    content: ' ';
    display: inline-block;

    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid currentColor;
    vertical-align: middle;
    margin-right: .7rem;
    transform: translateY(-2px);

    transition: transform .2s ease-out;
}

.toggle:checked+.lbl-toggle::before {
    transform: rotate(90deg) translateX(-3px);
}

.collapsible-content {
    max-height: 0px;
    overflow: hidden;
    transition: max-height .25s ease-in-out;
}

.toggle:checked+.lbl-toggle+.collapsible-content {
    max-height: 100vh;
}

.toggle:checked+.lbl-toggle {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.collapsible-content .content-inner {
    background: rgba(5, 5, 5, 0.2);
    border-bottom: 1px solid rgba(247, 246, 241, 0.45);
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    padding: .5rem 1rem;
}

/*Suggestions*/
#reccomendations {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 14px;
<<<<<<< HEAD
=======
}
.image {
    display;flex;
    align-items: center;
    justify-content: center;
}

wrap-collabsible {
    margin-bottom: 1.2rem 0;
}

input[type='checkbox'] {
    display: none;
}

.lbl-toggle {
    display: block;

    font-weight: bold;
    font-family: monospace;
    font-size: 1.2rem;
    text-transform: uppercase;
    text-align: center;

    padding: 1rem;

    color: #f8f8ef;
    background: #bb1818;

    cursor: pointer;

    border-radius: 7px;
    transition: all 0.25s ease-out;

    width: 250px;
    margin: 0 auto;
}

.lbl-toggle:hover {
    color: #fefdf9;
}

.lbl-toggle::before {
    content: ' ';
    display: inline-block;

    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid currentColor;
    vertical-align: middle;
    margin-right: .7rem;
    transform: translateY(-2px);

    transition: transform .2s ease-out;
}

.toggle:checked+.lbl-toggle::before {
    transform: rotate(90deg) translateX(-3px);
}

.collapsible-content {
    max-height: 0px;
    overflow: hidden;
    transition: max-height .25s ease-in-out;
}

.toggle:checked+.lbl-toggle+.collapsible-content {
    max-height: 100vh;
}

.toggle:checked+.lbl-toggle {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.collapsible-content .content-inner {
    background: rgba(5, 5, 5, 0.2);
    border-bottom: 1px solid rgba(247, 246, 241, 0.45);
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    padding: .5rem 1rem;
>>>>>>> origin
}

/* Form */
#signup {
    background-image: url("../images/signup-img-s.png");
    background-size: cover;
    background-position: 75%;
    padding: 20px 10% 0 10%;
    flex-grow: 1;
}


#signup-form {
    color: #ffffff;
    background-color: rgba(60, 60, 60, 0.7);
    padding: 30px;
    border-radius: 12px;
}


#signup-form>h2 {
    color: #fafafa;
    margin-bottom: 20px;
}


.text-input {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
    padding: 0 5px;
}

.join-button {
    margin-top: 20px;
    border-radius: 12px;
    padding: 15px 32px;
    font-size: 100%;
    background-color: #bb1818;
    color: #fafafa;
}

/*Thank You */
#submit {
    background-image: url("../images/signup-img-s.png");
    background-size: cover;
    background-position: 75%;
    padding: 20px 10% 0 10%;
    flex-grow: 1;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    max-width: 800px;
    color: #ffffff;
    background-color: rgba(60, 60, 60, 0.8);
    margin: auto;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 12px;
}

.thanks {
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
}

.video {
    display: flex;

}

/* Footer */
#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: #3a3a3a;
}

/* Media query: large or landscape phones (576px and up) */
@media screen and (min-width: 576px) {}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {

    /* Header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
        color: white;
    }

    #menu>li {
        padding-left: 1rem;

    }

    .nav-toggle-label {
        display: none;
        color: white;
    }


    #logo {
        font-size: 280%;
        line-height: 75px;
        margin: 0 0.5rem;
        color: white;
    }

    /* Main content */
    main {
        margin-top: 79px;
    }

    /*Home Page*/

    #hero {
        height: 600px;
        width: 100%;
        background: url("../images/hero-image.png") no-repeat center center/cover;
        position: relative;
    }

    #intro-text {
        width: 300px;
        right: 50px;
    }


    /* Form */
    #signup {
        background-image: url("../images/signup.png");
        background-size: cover;
        background-position: 75%;
        padding: 20px 10% 0 10%;
        flex-grow: 1;
        background-position: center;
        position: relative;
    }

    #signup-form {
        max-width: 400px;
        position: absolute;
        left: 10%;
        top: 100px;
    }

    .text-input:hover {
        border-color: #f16c6b;
    }

    .join-button:hover {
        background-color: #fafafa;
        color: #454b1b;
    }

    .container {
        max-width: 1000px;
        padding-top: 20px;
        padding-bottom: 20px: padding-left: 20px;
        padding-right: 20px;
        color: #ffffff;
        background-color: rgba(60, 60, 60, 0.8);
        margin: auto;
        height: 60vh;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        flex-direction: column;
        justify-content: space-evenly;
        border-radius: 12px;
    }

    .video {
        width: 400px;
        height: 250px;
    }

}

/* Large devices (laptops and desktops, 992px and up) */
@media screen and (min-width: 992px) {
    #menu a:hover {
        border-bottom: 1px solid #3a3a3a;
    }

    #about-me,
    .current {
        font-size: 28px;
    }
}

@media screen and (min-width: 1200px) {

    #about-me,
    .current {
        font-size: 38px;
    }
<<<<<<< HEAD
}
=======
>>>>>>> origin
}